{% extends "base.html" %}

{% block head_title %}Estado de Reserva{% endblock %}

{% block header %}
<div class="container-fluid has-bg-overlay text-center text-light has-height-lg middle-items" id="estado-reserva">
    <div class="d-flex justify-content-center align-items-center h-100">
        <div class="card p-4 admin-card" style="width: 400px;">
            <h4 class="mb-4">Consulte el estado de su reserva</h4>
            <form id="form_estado_reserva">
                <div class="mb-3">
                    <input type="text" name="codigo_reserva" class="form-control form-control-lg custom-form-control" placeholder="Código de Reserva" required>
                </div>
                <button type="submit" class="btn btn-lg btn-primary w-100">Consultar</button>
            </form>
            <div id="mensajes_error" class="mt-3"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block body_content %}
<div id="resultado_reserva" class="container mt-5" style="display: none;">
    <h3>Detalles de la Reserva</h3>
    <p><strong>Email:</strong> <span id="email_cliente"></span></p>
    <p><strong>Nombre:</strong> <span id="nombre_cliente"></span></p>
    <p><strong>Teléfono:</strong> <span id="telefono_cliente"></span></p>
    <p><strong>Fecha Desde:</strong> <span id="fecha_desde"></span></p>
    <p><strong>Fecha Hasta:</strong> <span id="fecha_hasta"></span></p>
    <p><strong>Cantidad de Habitaciones:</strong> <span id="cantidad_habitaciones"></span></p>
    <p><strong>Cantidad de Personas:</strong> <span id="cantidad_personas"></span></p>
    <p><strong>Método de Pago:</strong> <span id="metodo_pago"></span></p>
    <p><strong>Estado:</strong> <span id="estado"></span></p>
    <p><strong>Precio Total:</strong> $<span id="precio_total"></span></p>
    <p><strong>Tipo de Habitación:</strong> <span id="tipo_habitacion"></span></p>
    <p id="dias_restantes" class="mt-4"></p>
</div>
{% endblock %}
{% block scripts %}
    <script type="module" src="{{ url_for('static', filename='js/estado_reserva.js') }}"></script>
{% endblock %}