<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Gestión de Precios">
    <title>Gestión de Precios - Hotel Mate Amargo</title>

    <!-- Bootstrap + main styles -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/mate_amargo.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modal_precios.css') }}">
</head>
<body>

    <!-- Tabla -->
    <div class="container">
        <h1 class="text-center my-5">Gestión de Precios de Habitaciones</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Precio por Noche</th>
                </tr>
            </thead>
            <tbody>
                {% for habitacion in datos %}
                <tr>
                    <td>{{ habitacion.nombre }}</td>
                    <td>{{ habitacion.descripcion }}</td>
                    <td>{{ habitacion.precio_noche }}</td>
                    <td>
                        <button data-id="{{ habitacion.id }}" data-precio="{{ habitacion.precio_noche }}" class="edit-button btn btn-primary">Editar Precio</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Modal -->
    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close" id="closeModal">&times;</span>
            <h2>Editar Precio por Noche</h2>
            <form id="precioForm" action="{{ url_for('enviar_precios_habitaciones')}}" method="post">
                <input type="hidden" id="habitacionId" name="id">
                <label for="precioNoche">Nuevo Precio por Noche:</label>
                <input type="text" id="precioNoche" name="precio_noche">
                <input type="submit" value="Guardar Cambios" class="btn btn-primary">
            </form>
            <div id="error-message" class="text-danger">Por favor, ingrese un número válido en el campo de precio.</div>
        </div>
    </div>

    <!-- Core JS -->
    <script src="{{url_for('static', filename='vendors/jquery/jquery-3.4.1.js')}}"></script>
    <script src="{{url_for('static', filename='vendors/bootstrap/bootstrap.bundle.js')}}"></script>

    <!-- Modal JS -->
    <script src="{{ url_for('static', filename='js/modal_precios.js') }}"></script>
</body>
</html>


