{% extends "base.html" %}
{% block head_title %}Hotel del Glaciar{% endblock %}
      
<!-- header -->
{% block header %}
<div class="overlay text-white text-center">
    <h1 class="display-2 font-weight-bold my-3">Hotel del Glaciar</h1>
    <h2 class="display-4 mb-5">Descubre la calidez de tu hogar en el mejor hotel de la Patagonia</h2>
    <a class="btn btn-lg btn-primary" href="{{'habitaciones.html'}}">Vea nuestras habitaciones</a>
</div>
{% endblock %}

    <!-- Bootstrap + main styles -->
	<link rel="stylesheet" href="{{url_for('static', filename='css/mate_amargo.css')}}">

    {% block link_scrip %}  {% endblock %}

</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">
    
    <!-- Navbar -->
    <nav class="custom-navbar navbar navbar-expand-lg navbar-dark fixed-top" data-spy="affix" data-offset-top="10">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('home')}}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('servicios')}}">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('habitaciones')}}">Habitaciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('reserva')}}">Reserva</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('reviews')}}">Reviews</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('contacto')}}">Contactenos</a>
                </li>
                <li class="nav-item">
                    <a href="{{url_for('admin')}}" class="btn btn-primary ml-xl-4">Administracion</a>
                </li>
            </ul>
        </div>
    </nav>
    
    <!-- header -->
    <header id="home" class="header">
        {% block header %} 
        {% endblock %}
    </header>

    <!-- Main Content -->
    {% block body_content %}
    {% endblock %}

    <!-- page footer  -->
    <div class="container-fluid bg-dark text-light has-height-md middle-items border-top text-center wow fadeIn">
        <div class="row">
            <div class="col-sm-4">
                <h3>EMAIL US</h3>
                <P class="text-muted">mate_amargo@gmail.com</P>
            </div>
            <div class="col-sm-4">
                <h3>CALL US</h3>
                <P class="text-muted">(123) 456-7890</P>
            </div>
            <div class="col-sm-4">
                <h3>FIND US</h3>
                <P class="text-muted">12345 Fake ST NoWhere AB Country</P>
            </div>
        </div>
    </div>
    
    <!-- end of page footer -->

	<!-- core  -->
    <script src="{{url_for('static', filename='vendors/jquery/jquery-3.4.1.js')}}"></script>
    <script src="static/vendors/bootstrap/bootstrap.bundle.js"></script>

    <!-- bootstrap affix -->
    <script src="{{url_for('static', filename='vendors/bootstrap/bootstrap.affix.js')}}"></script>

    <!-- wow.js -->
    <script src="{{url_for('static', filename='vendors/wow/wow.js')}}"></script>
    
    <!-- google maps -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCtme10pzgKSPeJVJrG1O3tjR6lk98o4w8&callback=initMap"></script>

    <!-- Mate_amargo js -->
    <script src="{{url_for('static', filename='js/mate_amargo.js')}}"></script>

</body>
</html>
