{% extends "base.html" %}

{% block head_title %}Reserva - Hotel del Glaciar{% endblock %}

{% block header %}
<div class="overlay text-white text-center">
    <h1 class="display-2 font-weight-bold my-3">Hotel del Glaciar</h1>
    <h2 class="display-4 mb-5">Haga su reserva y disfrute de nuestra hospitalidad</h2>
</div>
{% endblock %}

{% block body_content %}
<div class="container-fluid has-bg-overlay text-center text-light has-height-lg middle-items" id="book-table">
    <div class="">
        <h2 class="section-title mb-5">¡Completa tus datos acá!</h2>

        <form method="post" action="{{ url_for('reservaBp.reserva') }}">

            <div class="row mb-5">
                <div class="col-sm-6 col-md-3 col-xs-12 my-2">
                    <input type="email" name="email_cliente" class="form-control form-control-lg custom-form-control" placeholder="Email" required>
                </div>
                <div class="col-sm-6 col-md-3 col-xs-12 my-2">
                    <input type="text" name="nombre_cliente" class="form-control form-control-lg custom-form-control" placeholder="Nombre" required>
                </div>
                <div class="col-sm-6 col-md-3 col-xs-12 my-2">
                    <input type="text" name="telefono_cliente" class="form-control form-control-lg custom-form-control" placeholder="Teléfono">
                </div>
                <div class="col-sm-6 col-md-3 col-xs-12 my-2">
                    <select name="habitacion_id" class="form-control form-control-lg custom-form-control" required>
                        <option value="" disabled selected>Seleccione una habitación</option>
                        <option value="1">Suite Deluxe</option>
                        <option value="2">Habitación Doble</option>
                        <option value="3">Habitación Simple</option>
                    </select>
                </div>
                <div class="col-sm-6 col-md-3 col-xs-12 my-2">
                    <input type="number" name="cantidad_habitaciones" class="form-control form-control-lg custom-form-control" placeholder="Cantidad de habitaciones" required>
                </div>
                <div class="col-sm-6 col-md-3 col-xs-12 my-2">
                    <input type="number" name="cantidad_personas" class="form-control form-control-lg custom-form-control" placeholder="Cantidad de personas" required>
                </div>
                <div class="col-sm-6 col-md-3 col-xs-12 my-2">
                    <input type="date" name="fecha_desde" class="form-control form-control-lg custom-form-control" placeholder="Fecha desde" required>
                </div>
                <div class="col-sm-6 col-md-3 col-xs-12 my-2">
                    <input type="date" name="fecha_hasta" class="form-control form-control-lg custom-form-control" placeholder="Fecha hasta" required>
                </div>
                <div class="col-sm-6 col-md-3 col-xs-12 my-2">
                    <select name="metodo_pago" class="form-control form-control-lg custom-form-control" required>
                        <option value="" disabled selected>Método de pago</option>
                        <option value="Tarjeta de Crédito">Tarjeta de crédito</option>
                        <option value="PayPal">PayPal</option>
                        <option value="Transferencia Bancaria">Transferencia bancaria</option>
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-lg btn-primary" id="rounded-btn">Reservar</button>
        </form>
    </div>
</div>
{% endblock %}