{% extends "base.html" %}
{% block header %}
<!-- reviews-header -->
<header id="home" class="header">
    <div class="overlay text-white text-center">
        <h2 class="display-50 mb-25" style="margin-top: 100px;">Descubre la experiencia de la gente en nuestro hotel.</h2>
        <h1 class="display-20 font-weight-bold my-30">{% include "reviewsSummary.html" %}</h1>
    </div>
</header>
{% endblock%}

{% block body_content %}
<!--  About Section 1 -->
<div class="container-comments wow fadeIn" data-wow-duration="1.5s">
    <div>
        <div class="comentarios-en-columnas col-lg-40">
            <div class="fila justify-content-center">
                <div class="col-sm-8 py-5 my-5">
                    <br>
                    <section class="comment">
                        <h5>Ubicado majestuosamente en el corazón de Ushuaia, el Hotel del Glaciar es un refugio de lujo entre las imponentes montañas y los serenos paisajes naturales de la región. Con una arquitectura que combina elegancia moderna y elementos tradicionales de la Patagonia, nuestro hotel ofrece una experiencia única y memorable para cada huésped.</h5>
                        <section class="user-container"> 
                            <section class="usuario">
                                <img src="{{url_for('static',filename='imgs/user-icon.jpg')}}" class="user-icon-comments">
                                <p>Usuario</p>
                            </section>
                        </section>
                    </section>
                    <br>

                    <section class="comment">
                        <h5>Ubicado majestuosamente en el corazón de Ushuaia, el Hotel del Glaciar es un refugio de lujo entre las imponentes montañas y los serenos paisajes naturales de la región. Con una arquitectura que combina elegancia moderna y elementos tradicionales de la Patagonia, nuestro hotel ofrece una experiencia única y memorable para cada huésped.</h5>
                        <section class="user-container"> 
                            <section class="usuario">
                                <img src="{{url_for('static',filename='imgs/user-icon.jpg')}}" class="user-icon-comments">
                                <p>Usuario</p>
                            </section>
                        </section>
                    </section>
                    <br>

                    <section class="comment">
                        <h5>Ubicado majestuosamente en el corazón de Ushuaia, el Hotel del Glaciar es un refugio de lujo entre las imponentes montañas y los serenos paisajes naturales de la región. Con una arquitectura que combina elegancia moderna y elementos tradicionales de la Patagonia, nuestro hotel ofrece una experiencia única y memorable para cada huésped.</h5>
                        <section class="user-container"> 
                            <section class="usuario">
                                <img src="{{url_for('static',filename='imgs/user-icon.jpg')}}" class="user-icon-comments">
                                <p>Usuario</p>
                            </section>
                        </section>
                    </section>
                    <br>

                    <section class="comment">
                        <h5>Ubicado majestuosamente en el corazón de Ushuaia, el Hotel del Glaciar es un refugio de lujo entre las imponentes montañas y los serenos paisajes naturales de la región. Con una arquitectura que combina elegancia moderna y elementos tradicionales de la Patagonia, nuestro hotel ofrece una experiencia única y memorable para cada huésped.</h5>
                        <section class="user-container"> 
                            <section class="usuario">
                                <img src="{{url_for('static',filename='imgs/user-icon.jpg')}}" class="user-icon-comments">
                                <p>Usuario</p>
                            </section>
                        </section>
                    </section>
                    <br>

                    <section class="comment">
                        <h5>Ubicado majestuosamente en el corazón de Ushuaia, el Hotel del Glaciar es un refugio de lujo entre las imponentes montañas y los serenos paisajes naturales de la región. Con una arquitectura que combina elegancia moderna y elementos tradicionales de la Patagonia, nuestro hotel ofrece una experiencia única y memorable para cada huésped.</h5>
                        <section class="user-container"> 
                            <section class="usuario">
                                <img src="{{url_for('static',filename='imgs/user-icon.jpg')}}" class="user-icon-comments">
                                <p>Usuario</p>
                            </section>
                        </section>
                    </section>
                    <br>

                    <section class="comment">
                        <h5>Ubicado majestuosamente en el corazón de Ushuaia, el Hotel del Glaciar es un refugio de lujo entre las imponentes montañas y los serenos paisajes naturales de la región. Con una arquitectura que combina elegancia moderna y elementos tradicionales de la Patagonia, nuestro hotel ofrece una experiencia única y memorable para cada huésped.</h5>
                        <section class="user-container"> 
                            <section class="usuario">
                                <img src="{{url_for('static',filename='imgs/user-icon.jpg')}}" class="user-icon-comments">
                                <p>Usuario</p>
                            </section>
                        </section>
                    </section>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
{% endblock %}