
<section id="reviews-container" class="carousel slide" data-ride="carousel">
    
    <ol class="carousel-indicators">
        <li data-target="#reviews-container" data-slide-to="0" class="active"></li>
        <li data-target="#reviews-container" data-slide-to="1"></li>
        <li data-target="#reviews-container" data-slide-to="2"></li>
    </ol>
    
    <section class="carousel-inner">
      <section class="carousel-item active">
        <div class="comment-box">
            <h4 class="comentarios">Ubicado a una cuadra de lo que se puede llamar la vía principal de Calafate, este hotel tiene todo lo necesario para hospedarte: habitaciones cómodas con calefacción, agua caliente, baño privado, desayuno incluido, tiene un minibar con happy hour y tragos muy ricos, así como deliciosa comida.</h4>
            <p class="autor-comentario">Autor1</p>
        </div>
      </section>
      <section class="carousel-item">
        <div class="comment-box">
            <h4 class="comentarios">Hotel situado próximo al centro, habitaciones pequeñas y lavabo/ducha muy pequeños. Desayuno simple y repetitivo. Precio exagerado por lo que ofrecen. En pleno centro de El Chalten hay hoteles mejores y al mismo precio ( caros), alejados del centro hay hoteles muy buenos a buen precio (más baratos). No recomiendo este hotel</h4>
            <p class="autor-comentario">Autor2</p>
        </div>
      </section>
      <section class="carousel-item">
        <div class="comment-box">
            <h4 class="comentarios">Bien ubicado. Los recepcionistas super amables. Limpio, comfortable. Calidez por donde lo mires. Nos sentimos en casa. Tbn contratamos las excursiones con ellos. Volvería sin dudarlo. Tenés una heladera en el hall central para guardar tus viandas y microondas para calentarte algo. Todo muy bien pensado para los huéspedes.</h4>
            <p class="autor-comentario">Autor3</p>
        </div>
      </section>
    </section>
    <a class="carousel-control-prev" href="#reviews-container" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#reviews-container" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </section>